body {
   font-family: "Lato";
   background-color: transparent;
}

#mainNavbar{
	height: 80px;
}

.sidebar-dark{
	background-color: #3c4b64;
}

.sidebar-brand{
	height: 80px;
	color: white;
	background-color: rgba(0, 0, 21, 0.2);
}

.nav-link{
	color: white;
	font-size: 10pt;
}

.nav-link:hover{
	color: rgba(255, 255, 255, 0.7);
}

.form-signin {
  	max-width: 400px;
  	padding: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}